name: deploy

on:
  push:
    branches: [ master ]

jobs:
  validate:
  
    runs-on: "ubuntu-latest"
    
    steps:
        - uses: "actions/checkout@v2"
        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"
        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"

  prerelease:
    needs: [validate]

    runs-on: ubuntu-latest
    concurrency: prerelease
    environment:
      name: prerelease

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Python Semantic Release
      uses: python-semantic-release/python-semantic-release@v7.32.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        additional_options: --prerelease

  release:
    needs: [validate]

    runs-on: ubuntu-latest
    concurrency: release
    environment:
      name: release

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Python Semantic Release
      uses: python-semantic-release/python-semantic-release@v7.32.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}